.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: rgb(71, 71, 71);
}


/* Change navbar styling on scroll */
.navbar.active {
    background: rgb(145, 145, 145);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
    background-color: #aa6b6b;
    background-image: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
}


// Additional styling blockquote
.article p, .article ul, .article ol, .article blockqoute {
    max-width: 45em;
  }

  .article p:first-child {
    font-size: 1.25em;
    font-weidth: 300;
    max-width: 36em; /* 45 / 1.25 */
  }

  .h-9 {
    display: flex;
    justify-content: center;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.block {
    display: block;
}

// Stolen ;)
.header {
    color: #fff;
}

.bg-cover {
    background-size: cover;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.header-overlay {
    background: linear-gradient(
-160deg
,rgba(119, 125, 129, 0),rgba(130, 137, 141, 0.253),#5b676ea9 70%);
}

.pb-6, .py-6 {
    padding-bottom: 3.5rem!important;
}

pt-6, .py-6 {
    padding-top: 3.5rem!important;
}

/* footer CSS */

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
/* index css */
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
  }
  .menu-area {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(224, 228, 231, 0.2);
    width: 100%;
    height: 70px;
    z-index: 1;
  }
  .logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  #home {
		position: relative;
		background-image: url(https://images.unsplash.com/photo-1587582816472-81e94768469a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
		width: 100%;
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		text-align: center;
	  }
  #home .content {
    width: 100%;
  }
  #home .content h1 {
    font-size: 60px;
    margin: 10px 0;
    color: #fff;
  }
  #home .content p {
    width: 50%;
    margin: auto;
    line-height: 1.6;
    color: #fff;
  }
  .content {
    width: 80%;
    height: 100%;
    padding: 15% 0;
  }
  .content h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .content p {
    font-size: 24px;
    line-height: 50px;
  }
  @media (max-width: 800px) {
    .logo {
      text-align: center;
    }
    #home .content h1 {
      font-size: 30px;
    }
    #home .content p {
      width: 90%;
      font-size: 16px;
    }
    .content {
      padding: 50% 0;
    }
    #about, #portfolio, #services, #contact {
      flex-direction: column;
      padding: 180px 0;
    }
    #portfolio .content {
      padding: 96px 0;
    }
  }
  