<head>
  <title>{{ .Title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
  <link rel="stylesheet" href="{{ $bootstrap.RelPermalink }}" /> 

  {{ $styles := resources.Get "css/style.css" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" /> 

  {{ $syntax := resources.Get "css/syntax.css" }}
  <link rel="stylesheet" href="{{ $syntax.RelPermalink }}" />

  {{ template "_internal/google_analytics_async.html" . }}
  {{ template "_internal/opengraph.html" . }}

</head>