<header>
<nav class="navbar navbar-expand-lg fixed-top py-3">
  <div class="container"><a href="/" class=""></a>
    <a href="/"></a> <img alt="NXS Networks" src="https://nxs-networks.com/images/full/nxs-networks-white.webp"  width="111px" height="36px"> 
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        <li class="nav-item"><a href="/" class="nav-link text-uppercase font-weight-bold">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link text-uppercase font-weight-bold">Over ons</a></li>
          <li class="nav-item"><a href="/bieren" class="nav-link text-uppercase font-weight-bold">Bieren</a></li>
          <li class="nav-item"><a href="/test" class="nav-link text-uppercase font-weight-bold">Test</a></li>
        </ul>
      </ul>
    </div>
  </div>
  </nav>
</header>

<div class="header bg-cover bg-no-repeat" style="background-image: url('/img/page-home.jpg')">
  <div class="header-overlay text-white py-6 px-3">
    <div class="container p-lg-8">
      <div class="row">
        <div class="col-lg-10 py-5 my-3 text-center mx-auto">
          <h1 class="display-5 text-break">{{ .Params.title }}</h1>
          <h2 class="font-weight-normal text-wrap">{{ .Params.description }}</h2>
          </div>
      </div>
    </div>
  </div>
</div>