<!-- header onder navbar -->
<div class="header bg-cover bg-no-repeat" style="background-image: url('/img/page-home.jpg')">
    <div class="header-overlay text-white py-6 px-3">
      <div class="container p-lg-8">
        <div class="row">
          <div class="col-lg-10 py-5 my-3 text-center mx-auto">
            <h1 class="display-5 text-break">{{ .Params.title }}</h1>
            <h2 class="font-weight-normal text-wrap">{{ .Params.description }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>